
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Layout03</title>
    <style type="text/css">
        body {}
        #wrap {}
        .side { width: 120px;  border: 1px solid #fff; background-color: #706c7a;}
        .header { width: 120px;  border: 1px solid #fff; background-color: #512da8;}
        .contents {float: left; width: 700px; height: 300px;  background-color: #5e35b1;}
        .footer {float: left; width: 700px; height: 300px;  background-color: #673ab7;}
    </style>
</head>
<body>
    <div id="wrap">
        <div class="side">side</div>
        <div class="header">header</div>
        <div class="contents">contents</div>
        <div class="footer">footer</div>
    </div>

    <script>
        const num = [100, 200, ["javascript","jquery"]];

        num.map(function(element, index, array) {
        document.write(element);
        // document.write(index);
        // document.write(array);
    });

    {
        for (let i=0; i<=2; i++) {
        document.write(i + ".실행(i)되었습니다.");
        for(let j=1; j<=3; j++){
            document.write(j + ".실행(j)되었습니다.");
        }
    }
    }
    </script>


</body>
</html>


