.container {
  width: 1440px;
  margin: 0 auto;
}

#wrap {
    font-family: 'Poppins', sans-serif;
}

/* 네비 */
#nav {
    background: #999;
    padding-top: 52px;
}
#nav .container {
    height: 42px;
    display: flex;
    justify-content: space-between;
}
    /* 로고 */
#nav .logo{
   
}
#nav .logo a{
    display: flex;
}
#nav .logo a .logo_img {
    width: 35px;
    height: 35px;
    background: url(../img/sprite.svg)0 0;
    padding-right: 50px;
}
#nav .logo a h1 {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
}



    /* 메뉴 */
#nav .menu {
}
#nav .menu .menu_text {

}
#nav .menu .menu_text ul {
    display: flex;
    padding-right: 170px;
}
#nav .menu .menu_text ul li{
    font-size: 17px;
    font-weight: bold;
    padding: 13px 30px;
}
#nav .menu .menu_text ul li a{ 
    
}
#nav .menu .menu_text ul li a:hover {
    border-bottom: 1px solid #000;
}

    /* 아이콘 */
#nav .icon ul{
    display: flex;
}
#nav .icon ul li a {
    background: url(../img/sprite.svg);
    width: 24px;
    height: 24px;
    padding-left: 45px;
}
#nav .icon .icon1 {
    background-position: -50px 0 ;
}
#nav .icon .icon2{
    background-position: -100px 0;
}
#nav .icon .icon3{
    background-position: -150px 0;
}

/* 헤더 */
#header {
    height: 980px;
    background: #888;
    margin-top: 112px;
    position: relative;
    z-index: 0;
}
#header .h_top {
    height: 680px;
}
#header .h_top h2 {
    font-size: 80px;
    line-height: 1;
    padding-bottom: 20px;
}
#header .h_top .h_text {
    width: 440px;
    height: 360px;
    font-size: 18px;
    font-weight: bold;
    color: #72696A;
}
#header .h_top .h_text p {
    margin: 30px 0;
}
#header .h_top .btn {
    height: 63px;
    font-size: 14px;
}
#header .h_top .btn a { 
    display: inline-block;
}
#header .h_top .btn .b1{
    padding: 18px 40px;
    margin-right: 22px;
    color: #fff;
    background: #C4A586;
}
#header .h_top .btn .b2{
    padding: 18px 53px;
    color: #C4A586;
    background: #fff;
    border: 1px solid #C4A586;
}
#header .h_buttom {
    height: 300px;
}
#header .h_buttom .clients {
    width: 1100px;
    margin: 65px 165px;
}
#header .h_buttom h3 {
    text-align: center;
    font-size: 16px;
    padding-top: 85px;
}
#header .h_buttom .clients ul.icon {
    display: flex;  
    justify-content: space-between;
}
#header .h_buttom .clients ul.icon a {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: url(../img/sprite.svg);
}
#header .h_buttom .clients ul.icon a.icon1 {
    background-position: 0px -50px;
}
#header .h_buttom .clients ul.icon a.icon2 {
    background-position: -100px -50px;
}
#header .h_buttom .clients ul.icon a.icon3 {
    background-position: -200px -50px;
    width: 130px;
}
#header .h_buttom .clients ul.icon a.icon4 {
    background-position: -350px -50px;
}
#header .h_buttom .clients ul.icon a.icon5 {
    background-position: 0px -100px;
}
#header .h_buttom .clients ul.icon a.icon6 {
    background-position: -100px -100px;
    width: 130px;
}
#header .header_img {
    position: absolute;
    top: 0px; right: 0;
    width: 1022px;
    height: 764px;
    background: url(../img/P_header.jpg);
    z-index: -1;
}


/* 컨텐츠 */
#contents {
    height: 2800px;
    background: #777;
}

/* 푸터 */
#footer {
    height: 746px;
    background: #666;
}