<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2011</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../practice/assets/css/font.css">
    <link rel="stylesheet" href="../practice/assets/css/reset.css">
    <link rel="stylesheet" href="../practice/assets/css/style_0211.css">

     <!-- 폰트 -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
     
</head>
<body>
    
    <div id="wrap">
        <nav id="nav">
            <div class="container">
                <div class="logo">
                    <a href="#">
                        <div class="logo_img">logo</div>
                        <h1>MISTRIUM</h1>
                    </a>
                </div>
                <!-- //logo -->

                <div class="menu">
                    <div class="menu_text">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">products</a></li>
                            <li><a href="#">faps</a></li>
                            <li><a href="#">contacts us</a></li>
                        </ul>
                    </div>
                </div>
                <!-- //menu -->

                <div class="icon">
                    <ul>
                        <li><a href="#1" class="icon1"></a></li>
                        <li><a href="#2" class="icon2"></a></li>
                        <li><a href="#3" class="icon3"></a></li>
                    </ul>
                </div>
            </div>
            <!-- //icon -->
        </nav>
        <!-- //nav -->

        <header id="header">
            <div class="container">
                <div class="h_top">
                    <h2>Modern Furniture For <br> Modern Living Style</h2>
                    
                    <div class="h_text">    
                        <p>In unfeeling existence objection immediate repulsive on he in. Imprudence comparison uncommonly me he difficulty diminution resolution. Likewise proposal differed scarcely dwelling as on raillery. </p>
                        <p>September few dependent extremity own continued and ten prevailed attending. Early to weeks we could. Do commanded an shameless we disposing do. Indulgence ten remarkably nor are impression out. Power is lived means oh every in we quiet.</p>

                        <div class="btn">
                            <a href="#" class="b1">Request a Quote</a>
                            <a href="#" class="b2">Watch Video</a>
                        </div>
                    </div>
                </div>

                <div class="h_buttom">
                        <h3>SOME OF OUR TRUSTED CLIENTS</h3>
                        <div class="clients">
                            <ul class="icon">
                                <li><a href="#" class="icon1"><em class="ir_so">stripe</em> </a></li>
                                <li><a href="#" class="icon2"><em class="ir_so">Google</em> </a></li>
                                <li><a href="#" class="icon3"><em class="ir_so">Deloitte</em> </a></li>
                                <li><a href="#" class="icon4"><em class="ir_so">acceture</em> </a></li>
                                <li><a href="#" class="icon5"><em class="ir_so">IBM</em> </a></li>
                                <li><a href="#" class="icon6"><em class="ir_so">SAMSUNG</em> </a></li>
                            </ul>
                    </div>
                </div>

            </div>
            <div class="header_img"></div>
        </header> 
        <!-- //header -->

        <section id="contents"></section>
        <footer id="footer"></footer>
    </div>
</body>
</html>