* {
    margin: 0; 
    padding: 0;
    font-family: 'DungGeunMo';
}

.container {
    width: 1245px; 
    margin: 0 auto;
}
body {
    height: 100%;
    background-image: url(../img/backgraund_img.png);
}

/*배경*/
/* .back01 {   
    height: 1000px;
    background: url(../img/back_01.jpg) center no-repeat;
}
.back02 {
    height: 900px;
    background: url(../img/back_02.jpg) center no-repeat;
}
.back03 {
    height: 2560px;
    background: url(../img/back_03.jpg) center no-repeat;
}
.back04 {
    height: 1937px;
    background: url(../img/back_04.jpg) center no-repeat;
} */

/*이미지*/
.window {
    width: 1280px;
    height: 801px;
    background: url(../img/window.jpg) center no-repeat;
    margin: 0 auto;
}
.window_pink {
    width: 404px;
    height: 404px;
    background: url(../img/window_pink.png) center no-repeat;
}

/*텍스트*/
.titleS {
    line-height: 130px;
    color: #8461F9;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 7px 7px 1px #8461F9;
}
.category {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    text-shadow: -5px 0 #FC83C6, 0 5px #FC83C6, 5px 0 #FC83C6, 0 -5px #FC83C6;
    padding-left: 20px;
}

/*메뉴 menu*/
#menu {
    position: fixed;
    height: 70px;
}
#menu ul {
   /* display: flex; */
}
#menu ul  li {
    padding: 2px 15px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-shadow: -3px 0px #8461F9, 0px 3px #8461F9, 3px 0px #8461F9, 0px -3px #8461F9;
}
#menu ul  li a {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-shadow: -3px 0px #8461F9, 0px 3px #8461F9, 3px 0px #8461F9, 0px -3px #8461F9;
}


/*헤더*/
#header {
    height:900px;
}
#header h1 {
   padding: 70px 200px;
}
#header h1 .t1 {
    font-size: 150px;
    /* font-weight: bold; */
    line-height: 130px;
    color: #8461F9;
    -webkit-text-stroke: 2px #fff;
    /* text-shadow: -3px 0 #fff, 0 3px white, 3px 0 white, 0 -3px white; */
    text-shadow: 7px 7px 2px #8461F9;
}
#header h1 .t2 {
    font-size: 50px;
    padding-left: 20px;
    color: #fff;
    text-shadow: -3px 0 #FC83C6, 0 3px #FC83C6, 3px 0 #FC83C6, 0 -3px #FC83C6;
}



/*개요 overview*/
#overview .container {
    padding-top: 130px;
    display: flex;
}
#overview .left {
    padding-left: 20px;
}
#overview .left  .category{
    font-size: 70px;
    font-weight: bold;
    text-shadow: -6px 0 #FC83C6, 0 6px #FC83C6, 6px 0 #FC83C6, 0 -6px #FC83C6;
    padding-left: 20px;
}
#overview .left  .titleS {
    font-size: 200px;
    line-height: 150px;
}
#overview .right {
    padding:100px 50px 0px 0px ;
}
#overview .right h2 {
    text-align: right;
    color: #8461F9;
    font-size: 50px;
}
#overview .right .o_text {
    padding-top: 20px;
}
#overview .right .o_text p {
    font-family: 'GmarketSans';
    font-size: 22px;
    padding: 0px 0px 20px 130px;
    color: #6A6A6A;
}

/*기사  research*/
#research {
    height: 750px;
    padding-top: 100px;
}
#research h2 {
    line-height: 60px;
    font-size: 50px;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
}
#research .category {
    font-size: 40px;
    text-align: center;
    text-shadow: -3px 0 #FC83C6, 0 3px #FC83C6, 3px 0 #FC83C6, 0 -3px #FC83C6;
    padding-bottom: 15px;
}
#research .news {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#research .news .news_text {
    padding: 0 55px;
}
#research .news .news_text li:nth-child(2n-1) {
    font-size: 20px;
    color: #8461F9;
    padding: 80px 0 10px 0;
}
#research .news .news_text li:nth-child(2n) {
    font-family: 'GmarketSans';
    color: #6A6A6A;
}

/* 프로젝트 목표 Goal */
#goal {
    height: 900px; 
}
#goal h2 {
    font-size: 100px;
    text-align: center;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 5px 6px 1px #8461F9;
    padding-bottom: 25px;
}
#goal .goal_img {
    display: flex;
    justify-content: space-between
}
#goal .goal_img  div{
    width: 400px;
    height: 506px;
    background: url(../img/sprite01.jpg);
}
#goal .goal_img  .img01 {
    background-position: 0 0;
}
#goal .goal_img  .img02 {
    background-position: -450px 0;
}
#goal .goal_img  .img03 {
    background-position: -950px 0;
}
#goal .goal_img div p {
    width: 320px;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    color: #8461f9;
}

/* ideas  */
/* ideas01 카드소팅  */
#ideas01 .ideas_img01 { 
    width: 1240px;
    height: 650px;
    background: url(../img/ideas01.png );
}
/* ideas02 어피니티..  */
#ideas02 {
    padding: 150px 0;
}
#ideas02 .ideas02_img {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
#ideas02 .ideas_img02 { 
    width: 400px;
    height: 652px;
    background: url(../img/ideas02.png );
}
#ideas02 .ideas_img02 .category {
    font-size: 30px;
    text-shadow: -3px 0 #FC83C6, 0 3px #FC83C6, 3px 0 #FC83C6, 0 -3px #FC83C6;
    padding-top: 10px;
}
#ideas02 .ideas_img02 > ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    color: #7952fa;
}
#ideas02 .ideas_img02 li:first-child {
    font-size: 30px;
    color: #FC83C6;
    font-weight: bold;
}

/* flowChart */
#flowChart .category {
    padding-top: 110px;
    /* padding: 110px 0px 0px 0px; */
}
#flowChart .flowChart_img {
    width: 1000px;
    height: 500px;
    background: url(../img/flowChart.png);
    margin: 0 auto;
}
#flowChart .flowChart_img .ideas_title {
    padding: 20px;
}