html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    display: flex;
    justify-content: center;
}

/* img */
body.sky {background: url(../img/img__sky.png);}

/* 헤더 header */
#header {
    padding: 10px;
    height: 80px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
#header > div a {
    color: #fff;
    text-shadow: -1px 0 #FC83C6, 0 1px #FC83C6, 1px 0 #FC83C6, 0 -1px #FC83C6;
}
#header > div a:hover {
    color: #FC83C6;
}
/* 푸터 footer */
#footer {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #fff;
}

/* 로그인 */
#login > #windowMini {
    margin-top: 30px;
    width: 650px;
}
#login > #windowMini > .title-bar  {
    display: flex;
    justify-content: space-between;
    height: 40px;
}
#login > #windowMini > .title-bar > h3.title {
    color: #fff;
    font-size: 25px;
    padding: 10px;
}
#login > #windowMini > .title-bar > .icons {
    width: 100px;
    height: 100%;
    align-items: center;
}
.login {
    padding: 30px 40px 30px;
    color: #A872EF;
    align-items: center;
}
.login-box div > label {
    display: flex;
    font-size: 20px;
    font-family: 'DungGeunMo';
}
.login-box div > input {
    width: 95%;
    height: 15px;
    margin-bottom: 30px;
    border: none;
    border-radius: 2px;
    padding: 15px;
    font-size: 20px;
    font-family: 'DungGeunMo';
}
.login-box button {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    font-size: 23px;
    font-family: 'DungGeunMo';
    border-radius: 2px;
}
.login-submit {
    background: #BE95F3;
    color: #FCCCFE;
}
.login-submit:hover {
    background: #A872EF;
    cursor: pointer;
    color: #fff;
}
.login > #window {
    width: 100%;
    height: auto;
    background: #fff;
    border-left: 3px solid #BDB4FF;
    border-top: 3px solid #BDB4FF;
    border-right: 3px solid #AE83C6;
    border-bottom: 3px solid #AE83C6;
    margin-bottom: 30px;
}
.login > #window > .title-bar {
    margin: 5px;
}
.login >  #window > .title-bar > .title {
    font-size: 20px;
    padding-left: 5px;
}
.login > #window > .title-bar > .icons > .close {
    background: #fff;
}
.login > #window > .list {
    padding-bottom: 20px;
}
.login > #window > .list > li {
    font-size: 15px;
    padding: 3px;
    margin: 0 5px;
    font-family: 'dotum';
    font-weight: 700;
}